/* CSS Julien Start */

/* Home Page */

.feature__title {
  font-size: 16px;
  font-weight: 300;
  color: #262626;
  text-align: center;
}

.feature__title span {
  color: #453558;
  font-weight: 700;
}

.u {
  text-decoration: underline;
}

/* Pricing Page */

.underline-dashed {
  border-bottom: dashed 1px;
}

p.lineHeight {
  line-height: 30px;
}

.underline {
  border-bottom: solid 1px;
}

.box {
  background-color: #ededed;
  padding: 20px 10px 30px;
  margin-bottom: 34px;
}

.pricingBlock {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.blockPrice {
  text-align: center;
color: #53af98;
font-size: 20px;
margin: 30px 0;
}

.premium .blockTitle, .premium .blockFooter a, .premium .blockPrice a {
  background-color: #2f6050;
}

.premium .blockTitle {
  padding: 30px 0;
}

.blockPrice img {
  width: 90px;
display: block;
margin: 0 auto 7px;
}

.premium .blockPrice {
  margin: 20px 0 30px;
}

.blockPrice a {
  font-size: 14px;
font-weight: 500;
display: inline-block;
margin: 0 auto;
background-color: #53af98;
padding: 6px 16px;
color: #fff;
border-radius: 3px;
cursor: pointer;
transition: .2s all ease;
}

.blockContent ul.blockUl > li.innerButton {
  padding: 0;
}

.bar {
  padding: 12px 0;
  display: block;
  position: relative;
  color: #636363;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
}

i.material-icons {
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 9px;
  font-size: 24px;
}

a .underline-dashed {
  color: #434343;
}

.innerBlockUl {
  margin-bottom: 18px;
}

.innerBlockUl li {
  color: #636363;
font-size: 13px;
}

.blockContent ul.blockUl > li {
  border-top: 2px solid #ececec;
padding: 12px 0;
font-size: 14px;
position: relative;
color: #636363;
}

.pricingBlock:not(.premium) {
  margin-bottom: 30px;
}

.blockFooter a:hover, .blockFooter a:focus, .blockPrice a:hover, .blockPrice a:focus {
background-color: #2f6050;
}

.premium .blockFooter a:hover, .premium .blockFooter a:focus, .premium .blockPrice a:hover, .premium .blockPrice a:focus {
background-color: #53af98;
}

.blockContent ul.blockUl {
  margin: 0;
}

.blockPrice span {
  font-size: 50px;
font-weight: 600;
}

.blockTitle {
  background-color: #53af98;
  text-align: center;
  color: white;
  padding: 30px 0 12px;
  border-radius: 10px 10px 0 0;
}

.blockTitle h4 {
  margin: 0;
font-size: 22px;
font-weight: 600;
}

.blockTitle span {
  font-size: 12px;
font-weight: 500;
vertical-align: top;
}

.blockContent {
  padding: 0 35px;
}

.blockFooter a {
  color: white;
  background-color: #53af98;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
  display: block;
  font-weight: 700;
  transition: all .2s ease;
}

.topBox, .bottomBox {
  background-color: #ededed;
  padding: 5px;
  text-align: center;
  margin-bottom:3px;
}

.topBox h3 {
  margin: 10px 0;
font-weight: 700;
font-size: 22px;
color: #565c5c;
}

.bottomBox {
padding: 10px 5px;
margin-bottom: 10px;
}

@media (min-width: 768px) {
  .topBox.first {
    border-radius: 3px 0 0 0;
  }
  .bottomBox.first {
    border-radius: 0 0 0 3px;
  }
  .topBox.last {
    border-radius: 0 3px 0 0;
  }
  .bottomBox.last {
    border-radius: 0 0 3px 0;
  }
.awsPrice {
  padding: 0 1.5px;
}
}

.topBox p {
  color: #4a4a4a;
  padding-bottom: 15px;
  max-width: 80%;
  margin: 0 auto;
}

.bottomBox span {
  font-size: 18px;
font-weight: 600;
color: #4a4a4a;
}

.block-title.noTop {
  margin-top: 0;
}

.bottomMargin {
  margin-bottom: 66px;
}

.box .pricingTitle {
  margin: 0;
  text-align: center;
  font-size: 24px;
}

.disclaimer {
  margin-top: 6px;
  text-align: center;
  font-size: 13px;
  color: #636363;
}

.moreBottom.block-title--not-alone {
  margin-bottom: 42px;
}

.cta {
  background-color: #453559;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 60px;
}

.cta span {
  font-weight: 700;
}

.cta p, .cta .btn {
  margin: 25px 0;
}

.cta-2 {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 33px;
}

/* CSS Julien End */

.btn {
  min-width: 140px;
  height: 48px;
  border: none;
  border-radius: 30px;
  padding: 13px 16px;
  transition: all .2s linear;
}

.btn:focus {
  outline: none;
}

.btn--upgrade {
  line-height: 16px;
  font-weight: 600;
  border: 3px solid #00b599;
  color: #00b599;
  background-color: transparent;
}

.btn--upgrade:hover {
  color: #fff;
  background-color: #00b599;
}

.btn-transparent {
  line-height: 16px;
  font-size: 18px;
  border: 3px solid #fff;
  color: #fff;
  background-color: transparent;
}

.btn-transparent:hover {
  color: #fff;
  background-color: #00b599;
  border-color: #00b599;
}

button:focus, button:active {
  outline: none !important;
}

.button-set {
  font-size: 0;
  text-align: center;
}

.button-set .btn {
  margin: 5px 10px;
}

strong {
  font-weight: 600;
}

h3 {
  margin-bottom: 23px;
}

p {
  margin-bottom: 25px;
}

blockquote {
  padding: 0 60px 0 77px;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  border-left: 2px solid #00b599;
}

@media (max-width: 991px) {
  blockquote {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  blockquote {
    margin-top: 20px;
    padding: 0 10px 0 25px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.list {
  text-align: left;
}

.list li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}

.list li:last-child {
  margin-bottom: 0;
}

.list li span {
  position: absolute;
  left: 0;
  top: -1px;
  color: #49305b;
}

a:hover {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.img-wraper {
  position: relative;
  text-align: center;
}

.img-wraper:before {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  display: block;
  width: 100%;
  max-width: 250px;
  height: 4px;
  boder: 2px dotted #075098;
  background-color: #32533c;
}

.img-wraper img {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.author {
  padding-left: 78px;
  margin-top: 15px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .author {
    padding-left: 25px;
  }
}

.white {
  color: #fff !important;
}

.success {
  font-weight: 700;
  color: #49305b;
}

.text-color {
  color: #404040;
}

.main-descr {
  display: block;
  font-size: 19px;
  font-weight: 600;
}

.page-header {
  text-align: center;
  border-bottom: none;
}

.page-header--index {
  max-width: 680px;
  margin: 80px auto;
}

.page-header--line {
  border-bottom: 2px solid #c2c2c2;
  margin-bottom: 30px;
}

.block-title {
  text-align: center;
  margin-top: 72px;
  font-size: 32px;
  color: #00b599;
}

.block-title--alone {
  margin-bottom: 50px;
}

.block-title--not-alone {
  margin-bottom: 13px;
}

.block-subtitle {
  max-width: 761px;
  margin: 0 auto 40px;
  text-align: center;
}

video {
  width: 100%;
}

.play-btn {
  display: inline-block;
  margin-right: 15px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.tabs-vertical .nav-tabs {
  border: none;
}

.tabs-vertical .nav-tabs li {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.tabs-vertical .nav-tabs li a {
  display: inline-block;
  margin-left: 23px;
  padding: 0;
  border: none;
  font-size: 20px;
  line-height: 0.7;
}

.tabs-vertical .nav-tabs li a:after {
  content: '';
  display: inline-block;
  min-width: 10px;
  width: 110%;
  height: 4px;
  background-color: #00b599;
}

.tabs-vertical .nav-tabs li a:hover {
  background-color: transparent;
  border: none;
}

.tabs-vertical .nav-tabs li.active:before {
  position: absolute;
  top: 1px;
  left: 0;
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 2px solid #00b599;
}

.tabs-vertical .nav-tabs li.active a {
  border: none;
  font-weight: 600;
}

@media (max-width: 767px) {
  .tabs-vertical .nav-tabs li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    float: none;
  }
  .tabs-vertical .nav-tabs li:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .tabs-vertical .nav-tabs li a {
    font-size: 18px;
  }
  .tabs-vertical .nav-tabs li a:after {
    min-width: auto;
  }
}

@media (max-width: 560px) {
  .tabs-vertical .nav-tabs li {
    margin-right: 9px;
  }
}

.navbar {
  padding-top: 60px;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .navbar {
    padding-top: 20px;
  }
}

.logo {
  float: left;
  display: block;
  font-size: 0;
}

.navbar-nav {
  padding-top: 20px;
}

.navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-nav > li > a {
  color: #404040;
  padding: 0;
}

.navbar-nav > li > a:hover {
  background-color: transparent;
  color: #00b599;
}

.navbar-toggle {
  height: 34px;
  width: 44px;
  margin-top: 12px;
  margin-bottom: 0px;
  background-color: #00b599;
}

.navbar-toggle .icon-bar {
  position: absolute;
  top: 30%;
  margin-top: 0 !important;
  background-color: #fff;
  transition: top 0.2s;
}

.navbar-toggle .icon-bar:nth-child(3) {
  top: 48%;
}

.navbar-toggle .icon-bar:nth-child(4) {
  top: 64%;
}

/*Animation of the toggle*/
button[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}

button[aria-expanded="true"] .icon-bar:nth-child(3) {
  top: 48%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

button[aria-expanded="true"] .icon-bar:nth-child(4) {
  top: 48%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .navbar-collapse {
    width: 100%;
    position: absolute;
    top: 66px;
    margin: 0 !important;
    left: 0;
    z-index: 11;
    box-shadow: none;
    border: none;
    background-color: #fff;
  }
  .navbar-nav {
    margin-bottom: 10px;
  }
  .nav > li > a {
    font-size: 18px;
    text-align: center;
    padding: 14px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    color: #fff;
    background-color: #00b599;
  }
}

footer {
  padding: 55px 0 50px;
  background: #383737 url("../images/footer.png") no-repeat 50% 10px;
}

@media (max-width: 767px) {
  footer {
    padding: 30px 0 25px;
    background-position: 0 10px;
  }
}

@media (max-width: 767px) {
  .logo-wrap {
    margin-bottom: 30px;
    text-align: center;
  }
  .logo-wrap .logo {
    float: none;
    display: inline-block;
  }
}

.columns:before, .columns:after,
.logo-wrap:before,
.logo-wrap:after {
  content: " ";
  display: table;
}

.columns:after,
.logo-wrap:after {
  clear: both;
}

@media (max-width: 767px) {
  .columns {
    margin-bottom: 20px;
    text-align: center;
  }
}

.column {
  float: left;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .column:first-child {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .column {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
}

@media (max-width: 559px) {
  .column:nth-of-type(odd) {
    width: 42%;
  }
  .column:nth-of-type(even) {
    width: 56%;
  }
}

.column__title {
  margin-top: 0;
  color: #fff;
}

.column__list li a {
  color: #b4bbc2;
  line-height: 32px;
  transition: color .2s linear;
}

@media (max-width: 767px) {
  .column__list li a {
    font-size: 15px;
  }
}

.column__list li a:hover {
  color: #00b599;
}

.newletter {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .newletter {
    text-align: center;
  }
}

.newletter__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: lighter;
  color: #fff;
}

.newletter__form input {
  display: inline-block;
  vertical-align: middle;
  max-width: 168px;
  margin-right: 8px;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  border: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .newletter__form input {
    max-width: 122px;
    margin-right: 3px;
  }
}

.newletter__form .btn {
  min-width: auto;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 6px;
  line-height: 36px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .newletter__form .btn {
    width: 32px;
  }
}

@media (max-width: 767px) {
  .follow-us {
    text-align: center;
  }
}

.follow-us__title {
  font-weight: lighter;
  color: #fff;
}

.social li {
  display: inline-block;
}

.social a {
  display: block;
  padding: 5px 5px;
  color: #b4bbc2;
}

@media (max-width: 991px) {
  .social a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.social a {
  font-size: 20px;
  transition: color .2s linear;
  width: 38px;
  height: 38px;
  text-align: center;
}

.social a.facebook:hover {
  color: #5d8cc5;
}

.social a.twitter:hover {
  color: #1da1f2;
}

.social a.linkedin:hover {
  color: #0077B5;
}

.social a .fa-dribbble:hover {
  color: #ea4c89;
}

.social a .fa-vimeo:hover {
  color: #1ab7ea;
}

.social a .fa-gplus:hover {
  color: #dc4937;
}

.about {
  padding-bottom: 80px;
  background: url("../images/architecture.png") no-repeat 50% 0;
}

.main-title {
  text-align: center;
  font-size: 26px;
  line-height: 36px;
}

.main-title span {
  font-size: 32px;
  font-weight: 600;
  color: #00b599;
}

.sub-title {
  margin-bottom: 40px;
  font-size: 22px;
}

@media (max-width: 767px) {
  .feature {
    max-width: 400px;
    margin: 0 auto 30px;
    text-align: center;
  }
}

.feature__link {
  font-weight: 600;
}

.video-frame {
  position: relative;
  border: 2px solid #00b599;
  border-radius: 2px;
  font-size: 0;
}

.play {
  position: absolute;
  top: 49%;
  left: 49%;
  width: 0;
  height: 0;
  padding: 0;
  border-top: 10px solid transparent;
  border-left: 13px solid #00b599;
  border-bottom: 10px solid transparent;
  border-right-width: 0;
  background: transparent;
}

.play:hover {
  border-left-color: #00826e;
}

@media (max-width: 767px) {
  .play {
    display: none;
  }
}

.video-about {
  padding: 0 45px;
}

@media (max-width: 991px) {
  .video-about {
    padding-bottom: 30px;
    text-align: center;
  }
}

.video-about__title {
  margin: 0 0 20px;
}

.video-about__title:before {
  margin-bottom: 30px;
  content: '';
  display: block;
  height: 88px;
  width: 96px;
  background: url("../images/monitor.jpg") no-repeat;
}

@media (max-width: 991px) {
  .video-about__title:before {
    margin-left: auto;
    margin-right: auto;
  }
}

.video-about__descr {
  margin-bottom: 40px;
}

.video-about__btn {
  width: 168px;
  padding: 0 30px 0 0;
  height: 48px;
  line-height: 46px;
}

.page-devider--green {
  background-color: #00b599;
}

.page-devider--violet {
  padding: 10px 0;
  background-color: #49305b;
}

.page-devider--violet h4 {
  line-height: 24px;
}

.page-devider--violet .btn {
  margin: 11px 0;
}

@media (max-width: 767px) {
  .page-devider--violet {
    text-align: center;
  }
}

.page-devider .block-title {
  margin-top: 30px;
}

.page-devider--home-page .signup input {
  margin-right: 34px;
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #c6ccd2;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .page-devider--home-page .signup input:first-child {
    margin-right: 19px;
  }
}

.page-devider--home-page .signup input:focus {
  border-color: #00b599;
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-devider--home-page .signup input {
    width: 164px;
  }
}

.page-devider--push-page {
  padding-top: 15px;
}

.page-devider--push-page .block-title {
  padding: 0 20%;
  font-size: 24px;
  margin-bottom: 25px;
}

.page-devider--push-page .block-subtitle {
  padding: 0 17%;
}

.page-devider--push-page .signup {
  margin-bottom: 15px;
  background-color: transparent;
}

@media (max-width: 767px) {
  .page-devider--push-page .signup {
    text-align: center;
  }
}

.page-devider--push-page .signup input {
  margin-right: 20px;
  margin-bottom: 25px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-devider--push-page .signup input {
    margin-right: 10px;
    width: 168px;
  }
}

.page-devider--push-page .signup input:focus {
  border-color: #49305b;
}

.page-devider--push-page .signup .signup__btn {
  width: 100%;
  max-width: 220px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-devider--push-page .signup .signup__btn {
    width: 168px;
  }
}

.signup {
  margin-bottom: 45px;
  padding: 25px;
  border-radius: 6px;
  background-color: #ededed;
  text-align: center;
}

.signup form {
  font-size: 0;
}

.signup input {
  padding: 10px 16px;
  border-radius: 6px;
  border: 2px solid #c6ccd2;
  width: 100%;
  max-width: 220px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .signup input {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px !important;
  }
}

.signup p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}

.signup__btn {
  min-width: auto;
  border-radius: 6px;
  width: 140px;
  vertical-align: baseline;
}

@media (max-width: 991px) {
  .signup__btn {
    width: 90px;
  }
}

@media (max-width: 767px) {
  .signup__btn {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.deploy__header {
  background-color: #e9e9e9;
}

.deploy__header .block-title {
  color: #404040;
}

.deploy__header .block-subtitle {
  margin-bottom: 25px;
}

.languages {
  position: relative;
  height: 33px;
}

.languages__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.languages__list li {
  display: inline-block;
  margin-right: 45px;
}

.languages__list li:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .languages__list li {
    width: 15%;
    margin-right: 15px;
  }
  .languages__list li img {
    max-width: 100%;
  }
}

.languages-tabs {
  margin-top: 95px;
  padding-bottom: 72px;
  border-bottom: 2px solid  #c2c2c2;
}

@media (max-width: 767px) {
  .languages-tabs {
    margin-top: 55px;
  }
}

@media (min-width: 768px) {
  .languages-tabs .tab-content {
    background: url("../images/lang-bg.png") no-repeat 0 0;
    height: 245px;
  }
}

@media (max-width: 767px) {
  .languages-tabs .tab-content {
    margin-top: 20px;
    background-color: #e9e9e9;
  }
}

.languages-tabs .tab-pane {
  padding: 1px 42px 37px 220px;
}

.languages-tabs .tab-pane h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

@media (max-width: 991px) {
  .languages-tabs .tab-pane {
    padding: 1px 35px 37px 210px;
  }
}

@media (max-width: 767px) {
  .languages-tabs .tab-pane {
    text-align: center;
    padding: 1px 15px 37px 15px;
  }
}

.SME {
  padding: 0 20px 15px;
  text-align: center;
}

.SME__title {
  font-weight: 600;
  color: #00b599;
}

.SME__list {
  margin-bottom: 60px;
  padding-left: 0;
  text-align: left;
}

.SME__list span {
  left: -27px;
}

.SME__list.margin {
  margin-right: -18px;
}

@media (max-width: 767px) {
  .SME {
    max-width: 400px;
    margin: 0 auto 30px;
    text-align: center;
  }
}

.clients {
  padding-bottom: 75px;
  background-color: #f7f7f7;
}

.clients .block-title {
  color: #404040;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.owl-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
}

.owl-pagination:before, .owl-pagination:after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 11px;
  height: 11px;
  margin: 5px 8px;
  border-radius: 20px;
  background: #49305b;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  width: 14px;
  height: 14px;
  margin: 4px 6.5px;
  background: #00b599;
}

#sync1 div > img {
  margin-left: 1px;
}

#sync2 {
  padding-bottom: 60px;
}

#sync2 .item {
  margin: 0px 5px;
}

#sync2 .client {
  position: relative;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  font-size: 0;
  width: 100%;
  max-width: 138px;
  height: 74px;
  cursor: pointer;
}

#sync2 .client img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%) invert(0.5);
          filter: grayscale(100%) invert(0.5);
  max-width: 90%;
}

#sync2 .client:hover {
  box-shadow: 0px 2px 8.19px 0.81px rgba(30, 33, 36, 0.15);
}

#sync2 .client:hover img {
  -webkit-filter: invert(0) grayscale(0%);
          filter: invert(0) grayscale(0%);
}

#sync2 .synced .client {
  cursor: default;
  box-shadow: 0px 2px 8.19px 0.81px rgba(30, 33, 36, 0.15);
}

#sync2 .synced .client img {
  -webkit-filter: invert(0) grayscale(0%);
          filter: invert(0) grayscale(0%);
}

.drie-uses .block-title {
  color: #00b599;
}

.competiton {
  padding-bottom: 150px;
}

.competiton .block-title {
  margin-bottom: 20px;
  color: #00b599;
}

.competiton .block-subtitle {
  max-width: 615px;
}

.competiton__title {
  padding-left: 23px;
  font-size: 23px;
  line-height: 42px;
  font-weight: 600;
  color: #00b599;
}

.competiton .tab-pane {
  margin-top: 30px;
  padding: 0 20px 5px;
  border: 2px solid #49305b;
  border-radius: 6px;
  box-shadow: 0px 4px 9.9px 1.1px rgba(127, 127, 127, 0.46);
}

.competiton .tab-pane h3 {
  padding-top: 0;
}

.nav-tabs--bubles {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
  height: 330px;
}

.nav-tabs--bubles li {
  position: absolute;
  height: 210px;
  width: 210px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}

.nav-tabs--bubles li.active, .nav-tabs--bubles li:hover {
  z-index: 8;
}

.nav-tabs--bubles li.active a span, .nav-tabs--bubles li:hover a span {
  opacity: 1;
}

.nav-tabs--bubles li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}

.nav-tabs--bubles li a:hover {
  background-color: transparent;
}

.nav-tabs--bubles li a:hover span {
  opacity: 1;
}

.nav-tabs--bubles li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .4s linear;
}

.nav-tabs--bubles li h3 {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.nav-tabs--bubles .buble--beanstalk {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-tabs--bubles .buble--beanstalk span {
  background-color: #00b599;
  opacity: .5;
}

.nav-tabs--bubles .buble--beanstalk h3 {
  top: 40%;
}

.nav-tabs--bubles .buble--heroku {
  top: 35%;
  right: 0;
}

.nav-tabs--bubles .buble--heroku span {
  background-color: #49305b;
  opacity: .8;
}

.nav-tabs--bubles .buble--cloudfoundry {
  top: 35%;
  left: 0;
}

.nav-tabs--bubles .buble--cloudfoundry span {
  background-color: #404040;
  opacity: .5;
}

.info {
  text-align: center;
  line-height: 28px;
}

.info__address, .info__tel {
  margin-bottom: 0;
  color: #7f7f7f;
}

.info__link {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

.info__email {
  color: #00b599;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .info {
    margin-bottom: 40px;
  }
}

.contact-form {
  padding-top: 50px;
  margin-bottom: 120px;
}

.contact-form .form-control {
  border-radius: 6px;
  border: 2px solid #c6ccd2;
  border-style: solid;
  margin-bottom: 32px;
  box-shadow: none;
}

.contact-form .form-control:focus {
  outline: none;
  border-color: #00b599;
}

.contact-form p {
  color: #7f7f7f;
}

.contact-form input {
  height: 44px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form .btn {
  border-radius: 6px;
  min-width: 140px;
}

@media (max-width: 767px) {
  .contact-form {
    margin: 0 auto 40px;
    max-width: 400px;
  }
}

.box-pricing {
  padding-top: 10px;
  padding-bottom: 60px;
  border-bottom: 2px solid #c2c2c2;
}

.pricing {
  padding: 25px;
  border-radius: 6px;
  text-align: center;
  cursor: default;
  background-color: #fff;
  box-shadow: 0px 4px 10.32px 1.68px rgba(158, 158, 158, 0.26);
}

@media (min-width: 768px) and (max-width: 991px) {
  .pricing {
    padding-right: 8px;
    padding-left: 8px;
  }
}

@media (max-width: 767px) {
  .pricing {
    max-width: 295px;
    margin: 0 auto 20px;
  }
}

.pricing__img {
  margin-bottom: 35px;
  text-align: left;
}

.pricing__title {
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #00b599;
}

.pricing__descr {
  margin-bottom: 25px;
  font-weight: 600;
  line-height: 30px;
}

.pricing__descr .success {
  display: block;
  font-size: 20px;
}

.pricing__descr.large {
  font-size: 20px;
}

.pricing .list {
  margin-bottom: 35px;
}

.pricing__link {
  min-width: 140px;
}

@media (max-width: 767px) {
  .plan {
    max-width: 501px;
    margin: 0 auto;
  }
}

.plan--micro {
  padding-top: 20px;
  padding-bottom: 70px;
}

.plan--push {
  padding: 53px 0 72px;
}

@media (max-width: 767px) {
  .plan--push {
    text-align: center;
  }
}

.plan--push-wrap {
  background-color: #f3f3f3;
}

.plan--push .primary {
  font-size: 20px !important;
}

.plan--push .list {
  max-width: 200px;
}

@media (max-width: 767px) {
  .plan--push .list {
    text-align: center;
  }
}

.plan--push .plan__includes {
  height: 167px;
  background: url("../images/plan-push_bg.png") no-repeat 85% 100%;
}

.plan--consult {
  padding-top: 66px;
  padding-bottom: 72px;
}

.plan--consult .plan__details {
  height: 420px;
  background: url("../images/plan-consult_bg.png") no-repeat 0% 100%;
}

@media (max-width: 767px) {
  .plan--consult .plan__details {
    height: 320px;
  }
}

.plan--consult .plan__includes {
  padding-right: 10%;
}

@media (max-width: 767px) {
  .plan--consult .plan__includes {
    margin-bottom: 30px;
  }
}

.plan__title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #00b599;
}

.plan__title .success {
  text-align: left;
}

@media (max-width: 767px) {
  .plan__details {
    margin-bottom: 30px;
  }
}

.plan__space {
  margin-top: 0;
  margin-bottom: 25px;
  line-height: 30px;
}

.plan__space .primary {
  display: block;
  font-size: 24px;
  color: #00b599;
}

.plan__space strong {
  display: block;
}

.plan__price {
  font-size: 20px;
  line-height: 24px;
}

.plan__price .num {
  display: block;
  font-size: 30px;
}

.plan__price .bonus {
  display: block;
  color: #00b599;
  font-size: 24px;
  line-height: 33px;
}

.plan__link {
  min-width: 140px;
}

.plan__includes p {
  line-height: 26px;
}

.plan__includes strong {
  display: block;
  font-size: 18px;
}

.plan__includes .list {
  font-size: 14px;
}

.propose {
  margin-top: 50px;
  border: 3px solid #ebebeb;
}

.propose__inside {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .propose__inside {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

.propose__inside h3 {
  color: #5c5c5c;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.propose__inside p {
  margin-top: 22px;
}

.insights {
  margin-bottom: 50px;
}

.button-group {
  margin-bottom: 30px;
  text-align: center;
}

.button-group button {
  position: relative;
  margin-right: 30px;
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
}

@media (max-width: 639px) {
  .button-group button {
    margin-right: 22px;
  }
}

.button-group button:after {
  position: absolute;
  top: 0;
  right: -22px;
  content: '|';
  color: #404040;
}

@media (max-width: 639px) {
  .button-group button:after {
    right: -18px;
  }
}

.button-group button:last-child {
  margin-right: 0;
}

.button-group button:last-child:after {
  display: none;
}

.button-group button.active {
  font-weight: 600;
  border-color: #00b599;
}

.button-group button.active:hover {
  color: #404040;
}

.button-group button:hover {
  color: #00b599;
}

.grid {
  overflow: hidden;
  min-height: 500px;
}

@media (max-width: 639px) {
  .grid {
    margin: 0 auto;
    max-width: 320px;
  }
}

.grid-item {
  height: 190px;
  padding-bottom: 20px;
}

@media (max-width: 639px) {
  .grid-item {
    width: 100%;
  }
}

.grid-item > * {
  height: 170px;
  overflow: hidden;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 2px solid #dadada;
  border-top-width: 4px;
  text-align: center;
}

.grid-item > * .insights__body {
  padding: 10px 40px;
}

@media (max-width: 639px) {
  .grid-item > * .insights__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.grid-item > * .insights__body.grey {
  background-color: #f2f2f2;
}

.grid-item > * .insights__title {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}

.grid-item > * .insights__about {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #00b599;
}

.grid-item > * .insights__descr {
  font-size: 14px;
  line-height: 20px;
}

.grid-item > * .insights__link {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #404040;
  text-decoration: underline;
}

.grid-item > * .insights__link span {
  color: #00b599;
}

.grid-item > * .insights__btn {
  min-width: 140px;
}

.grid-item > *.has-link .insights__title {
  margin-top: 10px;
}

.grid-item > *.has-link .insights__descr {
  margin-bottom: 10px;
}

.grid-item--height2 {
  height: 380px;
}

.grid-item--height2 > * {
  height: 360px;
  text-align: left;
}

.blog > * {
  border-top-color: #49305b;
}

.blog--main {
  height: 100%;
  background: url("../images/insights_blog.png") no-repeat 87% 92% #49305b;
}

.blog--main .insights__title {
  color: #fff;
  font-size: 18px;
}

.blog--main .insights__about {
  margin-bottom: 25px;
}

.blog--main .insights__descr {
  margin-bottom: 45px;
  color: #fff;
}

.blog--main .insights__link {
  color: #ffffff;
}

.events > * {
  border-top-color: #9b7f47;
}

.news > * {
  border-top-color: #00b599;
}

.load-more {
  width: 100%;
  padding-top: 10px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  transition: all .2s linear;
}

.load-more span {
  display: block;
  font-size: 24px;
  color: #dadada;
}

.load-more span:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.load-more:hover {
  background-color: #00b599;
  color: #fff;
}

.load-more:focus, .load-more:active {
  background-color: #00826e;
  color: #fff;
}

.team {
  max-width: 640px;
  margin: 0 auto 132px;
}

@media (max-width: 767px) {
  .team {
    max-width: 400px;
  }
}

.stuff {
  margin-bottom: 56px;
  padding: 10px;
  box-shadow: 0px 4px 10.32px 1.68px rgba(158, 158, 158, 0.26);
}

.stuff:last-child {
  margin-bottom: 0;
}

.stuff:nth-child(even) .stuff__content {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .stuff:nth-child(even) .stuff__content {
    padding-bottom: 10px;
  }
}

.stuff:nth-child(even) .stuff__photo:after {
  left: -0.5px;
  border-left: 22px solid #fff;
}

@media (max-width: 767px) {
  .stuff:nth-child(even) .stuff__photo:after {
    top: 1%;
    left: 50%;
    margin-left: -11px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.stuff:nth-child(even) .stuff__photo:before {
  left: auto;
  right: -30px;
}

.stuff:nth-child(odd) .stuff__content {
  padding-right: 34px;
}

.stuff:nth-child(odd) .stuff__photo:after {
  right: -0.5px;
  border-right: 22px solid #fff;
}

@media (max-width: 767px) {
  .stuff:nth-child(odd) .stuff__photo:after {
    top: 99%;
    right: 50%;
    margin-right: -11px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.stuff__photo {
  position: relative;
}

.stuff__photo img {
  width: 100%;
}

.stuff__photo:after, .stuff__photo:before {
  content: '';
  display: inline-block;
  position: absolute;
}

.stuff__photo:before {
  bottom: -30px;
  left: -30px;
  width: 124px;
  height: 130px;
}

@media (max-width: 465px) {
  .stuff__photo:before {
    display: none;
  }
}

.stuff__photo:after {
  top: 50%;
  margin-top: -22px;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.stuff.member .stuff__photo:before {
  background: url("../images/marked.png") no-repeat;
}

.stuff.marketing .stuff__photo:before {
  background: url("../images/marketing.png") no-repeat;
}

.stuff.founder .stuff__photo:before {
  background: url("../images/founder.png") no-repeat;
}

.stuff__name {
  margin-bottom: 0;
}

.stuff__position {
  display: block;
  margin-bottom: 25px;
  color: #00b599;
  font-size: 18px;
  font-weight: 600;
}

.stuff__about {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
}

.stuff__contacts li {
  display: inline-block;
  margin-right: 20px;
}

.stuff__contacts li:last-child {
  margin-right: 0;
}

.stuff__contacts a {
  height: 42px;
  width: 42px;
  padding: 2px;
  font-size: 24px;
  color: #00b599;
  border-radius: 50%;
  border: 3px solid #00b599;
  transition: all .2s linear;
}

.stuff__contacts a:hover, .stuff__contacts a:focus {
  color: #fff;
  background-color: #00b599;
}

.our-clients {
  padding: 20px 0 32px;
}

.our-clients__title {
  margin-bottom: 35px;
  font-size: 32px;
  text-align: center;
}

.our-clients__list {
  background-color: #e9e9e9;
  padding: 5px 0;
}

.our-clients__list:before, .our-clients__list:after {
  content: " ";
  display: table;
}

.our-clients__list:after {
  clear: both;
}

.our-clients__list li {
  float: left;
  width: 20%;
  position: relative;
  height: 89px;
  border-right: 2px solid #d9d9d9;
}

.our-clients__list li:last-child {
  border: none;
}

.our-clients__list li img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: grayscale(100%) invert(0.5);
          filter: grayscale(100%) invert(0.5);
  max-width: 90%;
}

.our-clients__list li:hover img {
  -webkit-filter: invert(0) grayscale(0%);
          filter: invert(0) grayscale(0%);
}

@media (max-width: 767px) {
  .our-clients__list li {
    width: 50%;
  }
  .our-clients__list li:nth-child(n+5) {
    display: none;
  }
  .our-clients__list li:nth-child(n+3) {
    border-top: 2px solid #d9d9d9;
  }
  .our-clients__list li:nth-child(even) {
    border-right: none;
  }
}

.push-page {
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, #49305b 0%, #00b599 100%);
}

.push-page:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 240%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  -webkit-transform-origin: 0 87%;
      -ms-transform-origin: 0 87%;
          transform-origin: 0 87%;
  -webkit-transform: skew(-76deg);
      -ms-transform: skew(-76deg);
          transform: skew(-76deg);
}

@media (max-width: 767px) {
  .push-page:before {
    width: 670%;
  }
}

.push-page > .container {
  position: relative;
  z-index: 2;
}

.push-page .navbar-nav > li > a {
  color: #fff;
}

.push-page .navbar-nav > li > a:hover {
  color: #49305b;
}

.push-page .page-header {
  padding-bottom: 75px;
  border-bottom: 1px solid #fff;
}

.push-page .main-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
}

.push-page .sub-title {
  margin-bottom: 80px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
}

.push-page .block-title {
  font-weight: 600;
}

.push-page .box-pricing {
  border-bottom: none;
}

.advantages {
  padding-top: 30px;
}

.advantages__visual {
  height: 194px;
  margin-bottom: 45px;
  text-align: center;
}

.advantages__name {
  padding-left: 17%;
  padding-right: 17%;
  font-size: 20px;
  font-weight: 600;
  color: #00b599;
}

@media (max-width: 400px) {
  .advantages__name {
    padding: 0;
  }
}

.advantages__article {
  color: #fff;
}

@media (max-width: 767px) {
  .advantages__article {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.advantages__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.advantages__descr {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}
